[submodule "controller/libs/PCA9685"]
	path = controller/libs/PCA9685
	url = git@github.com:TeraHz/PCA9685.git
    ignore = dirty 

[submodule "controller/libs/I2C"]
	path = controller/libs/I2C
	url = git@github.com:TeraHz/I2C.git
    ignore = dirty